<div class="container top__header">
    <nav class="sub_menu" role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
        <ul id="avia2-menu" class="menu">
            <li id="menu-item-733" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-733"><a target="" rel="noopener" href="https://www.valdperformance.com/"><b>PERFORMANCE</b></a></li>
            <li id="menu-item-734" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-home menu-item-734"><a href="https://valdhealth.com/" aria-current="page"><b>HEALTH</b></a></li>
            <li id="menu-item-3477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3477"><a href="https://valdtactical.com/" style="border-right:0px !important" ;><b>TACTICAL</b></a></li>
        </ul>
    </nav>
</div>


<style>
    .container {
        max-width: 100% !important;
        display: flex;
        align-items: center;
        background-color: white;
        height: 30px!important;
        justify-content: space-between!important;
        padding-left: 50px !important;
        /*border-bottom: 1px solid #e4e4e4; !important;*/
        box-shadow: 0 -1px #e4e4e4 inset;
    }
    
    .top__header {
        justify-content: centre !important;
    }
    
    @media only screen and (max-width: 767px) {
        .responsive #header .sub_menu,
        .responsive #header_meta .sub_menu>ul {
            float: none;
            width: 100%;
            margin: 0 auto;
            position: static;
            display: flex;
            justify-content: center;
        }
        .container {
            justify-content: center!important;
            padding-left: 0px !important;
        }
    }
    
    .sub_menu {
        float: left;
        z-index: 2;
        font-size: 11px;
        line-height: 30px;
        position: relative;
        display: block;
    }
    
    .sub_menu>ul {
        float: left;
        margin: 0;
        list-style-type: none;
    }
    
    .sub_menu>ul,
    #top .sub_menu>ul>li {
        background: 0 0;
        float: left;
    }
    
    .sub_menu>ul,
    #top .sub_menu>ul>li a {
        background: 0 0;
        float: left;
    }
    
    .sub_menu>ul>li>a {
        text-decoration: none;
        font-weight: 700;
        padding: 7px 0;
    }
    
    sub_menu li.current-menu-item>a,
    .sub_menu a:hover {
        border-bottom: 2px solid #ff7900;
        color: #ff7900 !important;
    }
    /*.container ul li a:hover
  {  
  color: #ff7a02;!important;
  border-bottom: 2px solid #ff7900 !important;
  }
*/
    
    #menu-item-733 {
        border-right: 1px solid #e4e4e4 !important;
    }
    
    #menu-item-734 {
        border-right: 1px solid #e4e4e4 !important;
    }
    
    .container ul li {
        display: inline !important;
        padding-right: 6px !important;
    }
    
    .container ul li a {
        margin-left: 8px!important;
        margin-right: 8px!important;
    }
</style>